{% extends "base.html" %}
  {% block head %}
  {% endblock head %}
  {% block body %}
  <section id="head" style="color:white;" class="bg-dark">
    <center>
      <h1>指令大全</h1>
      <h3>全部指令</h3>
    </center>
  <section id="cmds" style="color:white;" class="bg-dark">
    <xmp>
      主檔案 : 機器人內部使用▼
          bug : 回報bug
          load : 員工專用
          unload : 員工專用
          reload : 員工專用
          reloadall : 員工專用
      Fun : 好玩的東西▼
          8ball : 一個8ball?
          choice : 幫你選擇個東西
      Level : 等級系統▼
          rank : 查看等級
      Main : 雜項，以後會整理▼
          avatar : 頭像
          botinfo : 關於這個機器人
          delete : 刪除訊息
          link : 機器人邀請連結
          ping : 機器人延遲
          say : 照著說某段話
          server : 關於伺服器
          time : 報時
          userinfo : 關於使用者
      Music : 音樂(指令會在撥放後出現)▼
          play : 播放
          pause : 暫停/撥放音樂
          volume : 改變音量(0~250)
          skip : 跳過
          nowplaying : 顯示有關當前歌曲的信息
          queue : 顯示當前播放隊列
          clearqueue : 在不離開頻道的情況下清除播放隊列
          umpqueue : 將索引處的歌曲移動到隊列中的“new_index”(這翻譯的)
          youtube : 一同觀賞youtube
      voice : 動態語音頻道▼
          voice setup : 初始化動態語音頻道
          voice setlimit : 設定動態語音頻道的最大人數
          voice lock : 鎖定你的動態語音頻道
          voice unlock : 解鎖你的動態語音頻道
          voice permit : 允許某個人進入你的動態語音頻道
          voice reject : 拒絕某個人進入你的動態語音頻道
          voice limit : 設定自己動態語音頻道的最大人數
          voice name : 更改你的動態語音頻道名稱
          voice claim : 轉讓你的動態語音頻道
      voice : 語音頻道管理▼
          voice setup : 初始設定
          voice setlimit : 設定最大人數
          voice lock : 鎖定語音頻道
          voice unlock : 解鎖語音頻道
          voice permit : 允許某個人進入你的頻道
          voice reject : 拒絕某個人進入你的頻道
          voice limit : 設定自己頻道的最大人數
          voice name : 更改頻道名稱
          voice claim : 轉讓語音頻道
    </xmp>
  </section>
  {% endblock body %}