{% extends "base.html" %}
  {% block head %}
  {% endblock head %}
  {% block body %}
  <section id="head">
    <div class="jumbotron text-center bg-transparent">
      <h1 class="display-3 htext">&gt; &lt;</h1>
      <h4><span class="typed" data-typed-items="全中文!, 好玩!, 好用!, 好看(?, 免費!, 實用!, 實在!"></span></h4><a class="btn btn-dark" href="/invite">➕加入到Discord</a> &nbsp; <a class="btn btn-dark" href="/support">▶️支援伺服器</a>
    </div>
  </section>
  <section id="why">
    <div class="bg-dark">
      <div class="text-center card-columns cardds">
        <div class="card text-white bg-dark mb-3"style="max-width: 18rem;">
          <div class="card-header text-center">
            免費! 🆓
          </div>
          <div class="card-body">
            <p class="card-text">聽起來很酷，對吧?</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header text-center">
            品質保證 👍
          </div>
          <div class="card-body">
            <p class="card-text">不求功能多，只求好品質(?)</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header text-center">
            全中文 🅰️文
          </div>
          <div class="card-body">
            <p class="card-text">更容易看懂</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header text-center">
            功能實用 💻
          </div>
          <div class="card-body">
            <p class="card-text">更實用的功能</p>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header text-center">
            歡樂多多 🎉
          </div>
          <div class="card-body">
            <p class="card-text">有了> <，歡樂多更多</p>
          </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header text-center">
            開發團隊 🔧
          </div>
          <div class="card-body">
            <p class="card-text">有非常多人一起製作、更改這個機器人(才怪，只有AD一個)</p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://webfile.liyoujun600.repl.co/js/typed.js">
      </script>
  </section>
  {% endblock body %}