<!DOCTYPE html>
<html lang="zh"">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://files.pickname.repl.co/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://files.pickname.repl.co/css/main.css">
    <link rel="stylesheet" href="https://files.pickname.repl.co/css/now-ui-kit.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <title>Your bot name</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="https://files.pickname.repl.co/assets/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
    </button>
    <img src="https://files.pickname.repl.co/assets/BotLogo.svg" width="50" height="50">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#/">主頁 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">控制板(還在做)</a>
            </li>
        </ul>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Documentation
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">指令</a>
                <a class="dropdown-item" href="github">Github</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Server settings</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="#">關於</a>
        </div>
        <button class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;">LOGIN</button>
    </div>
</nav>
<div class="heading">
    <h1 class="display-5 title">是時候讓機器人進入你伺服器了</h1>
    <p class="subtitle">他將會讓你的伺服器更棒!<br />
    <a class="btn btn-primary btn-lg" href="invite" target="_blank" role="button">開始吧!</a>
    <a class="btn btn-secondary btn-lg" href="#server_link" target="_blank" role="button">添加到伺服器</a>
    <br /><br /><br /><br /><br /><br />
</div>
<div class="features">
    <div class="title">特點</div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">多種指令</h5>
            <p class="card-text">10個以上的指令讓你使用</p>
        </div>
    </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">99.9%上線</h5>
                <p class="card-text">如果沒有意外的話，他將會上線24小時，你可以隨時使用他</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">中文!</h5>
                <p class="card-text">語言使用的是中文(大部分啦)你絕對看得懂他在說什麼</p>
            </div>
        </div>
    </div>
</div>
<div class="statistics">
    <div class="cards">
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;">LOAD...</h1>
                <p style="font-weight: bold !important;font-size: 20px !important;">伺服器</p>
            </div>
        </div>
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;">LOAD...</h1>
                <p style="font-weight: bold !important;font-size: 20px !important;">使用者</p>
            </div>
        </div>
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title" style="font-size: 50px !important;line-height: 15px !important;letter-spacing: -0.06em !important;font-weight: bold !important;">LOAD...</h1>
                <p style="font-weight: bold !important;font-size: 20px !important;">頻道</p>
            </div>
        </div>
    </div>
</div>
<div class="page_end">
    <div class="start">
        <div class="card">
            <div class="card-body gs-card">
                <div class="title">試試看?</div>
                <div class="subtitle">這個機器人能為妳做一些很酷的事</div>
                <br />
                <a class="btn btn-primary btn-lg" href="invite" role="button">來吧!</a>
            </div><br />
        </div>
    </div>
    <div class="footer">
        <div class="bot-footer">
            <img src="https://files.pickname.repl.co/assets/BotLogoWord.svg" width="150"><br />
            Copyright © AD#5438 - 2021
        </div><br/>
        <div class="nouridio">website designed by <a href="https://nouridio.com"> nouridio</a></div>
    </di
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://files.pickname.repl.co/js/now-ui-kit.min.js"></script>
</body>
</html>
