{% extends "base.html" %}
  {% block head %}
  {% endblock head %}
  {% block body %}
  <section id="head" style="color:white;" class="bg-dark">
    <center>
      <h1>支援伺服器</h1>
    </center>
  <section id="support" style="color:white;" class="bg-dark">
    <center>
      <center>
        <widgetbot
          server="932246409955135499"
          channel="944767818375782441"
          width="95%"
          height="600"
        ></widgetbot>
      </center>
    </center>
  </section>
{% endblock body %}